
.container{
    background-color: #fafafa86;
}
h1{
    font-family: 'Lato', sans-serif;
    font-size: 10vh;
}
h3{
    font-family: 'Lato', sans-serif;  
    font-size: 4vh;
}
.form{
    width: 40%;
    height: 50vh;
    background-color: #fafafa;
    box-shadow: rgb(4, 151, 4) 0px 2px ;
}
#background{   
    height: 84vh;
    width: 70vh;
    border: 1px solid #fafafa;
    background-image: url('https://i.pinimg.com/originals/34/e2/4e/34e24efdcba25bfe4c767c1ba06ea47d.jpg');
    background-size: 63vh;
    background-repeat: no-repeat;

}
#goleiro{
    height: 10px;
    width: 30px;
    margin-left: 165px;
    margin-top: 55px;
}
#zaga1{
    margin-left: 200px;
    margin-top: -99px;
}
#zaga2{
    margin-left: 120px;
    margin-top: -260px;
}
.imagens{
    height: 200px;
    width: 200px;
}
.time{
    width: 400px;
    height: 350px;
}